$fontFamily: 'Open Sans', sans-serif;
$textColor: #5b4c5c;
$textColorP: #897f8a;
$textColorHeaderFooter: #fff;
$lineTitleColor: #ef7674;
$backgroundImageColor: rgba(238, 124, 123, 0.8);
$secondDackgroundColor: #f8f1f8;
$FooterHeaderDackgroundColor: #3b323c;




