@import "./src/Styles/sass/variables";
@import "./src/Styles/sass/mixins";


.headerWrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 140px;

  .header {
    cursor: pointer;
    @include flex(raw, space-around, center);
    @include text($fontFamily, 800, uppercase, 19px, 140px, $textColorHeaderFooter);
    text-align: center;
    transition: 1s;
    .nav{
      &:hover {
        @include text($fontFamily, 800, uppercase, 19px, 140px, $lineTitleColor);
      }
    }



  }
}



