.headerWrapper{
    background-color: #aeceae;
    width: 100%;
    height: 70px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    border: 1px solid;
}
