.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2, h3, span, a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.progectH3title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 11px;
    color: #5b4c5c;
}

.progectP{
    color: #897f8a;
    font-size: 15px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
}

.btns{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 3px solid #5b4c5c;
    padding: 16px 22px;
    display: inline-block;
    color: #5b4c5c;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    position: relative;
    z-index: 1;
}

.btns:hover {
    background: #5b4c5c;
    color: #ffffff;
    text-decoration: none;
}



.rawBox{
    background-color: #3b323c;
    color: white;
}

.rawBox:nth-child(n+2):nth-child(-n+6):nth-child(odd) {
    color: #5b4c5c;
    background-color: white;
}
.rawBox:nth-child(n+2):nth-child(-n+6):nth-child(even) {
    color: white;
    background-color: #f8f1f8;
}