@import "sass/variables";
@import "sass/mixins";

*, ::after, ::before {
  box-sizing: border-box;

}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

h1, h2, h3, span, a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

.rawBox {
  background-color: $FooterHeaderDackgroundColor;
  color: white;
  width: 100%;
  display: block;

  &:nth-child(n+4):nth-child(-n+8):nth-child(odd) {
    color: $textColor;
    background-color: $textColorHeaderFooter;
    width: 100%;

    @media screen and (max-width: 720px) {
      padding-bottom: 0px;
    }
  }

  &:nth-child(n+4):nth-child(-n+8):nth-child(even) {
    color: $textColorHeaderFooter;
    background-color: $secondDackgroundColor;
    width: 100%;
    padding-bottom: 80px;
    @media screen and (max-width: 720px) {
      padding-bottom: 0px;
    }
  }

  .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    @media screen and (max-width: 720px) {
      padding-top: 0px;
    }
  }
}

p, h6{
  @include text($fontFamily, 400, inherit, 15px, 27px, $textColorP);
}

h3 {
  @include text($fontFamily, 700, uppercase, 17px, 35px, $textColor);
}

h2 {
  margin-top: 50px;
}

h1 {
  @include text($fontFamily, 700, uppercase, 48px, 57px, $textColorHeaderFooter);
}