@import "./src/Styles/sass/variables";
@import "./src/Styles/sass/mixins";


.skils {
  @include flex(column, center, center);

  .skilsBlock {
    width: 100%;
    @include flex(raw, space-between, start);
    @media screen and (max-width: 625px) {
      justify-content: center;
    }

    .skilBox {
      @include flex(column, center, center);
      background-color: $secondDackgroundColor;
      min-width: 250px;
        border-bottom: #e6e6e6 5px solid;
      .skilBoxIcon {
        margin: 30px;
        color: $lineTitleColor;
      }

      .skilBoxText {
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
      }
    }
  }
}








