.mainWrapper{
    background-color: burlywood;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    height: 100vh;
    flex-wrap: wrap;
}
.mainText{
    width: 380px;
    background-color: white;

}
.mainFoto{
    width: 200px;
    height: 200px;
    background-color: white;
}