@import "src/Styles/sass/variables";
@import "src/Styles/sass/mixins";


.mainWrapper {
  .main {
    text-align: center;
    @include flex(column, center, space-between);
    .boxMain{
      @include flex(raw, space-between, center);

      .mainText {
        text-align: center;
        background: $textColorHeaderFooter;
        padding: 20px 36px 20px;;
        border-bottom: #e6e6e6 5px solid;
        min-width: 400px;

      }

      .mainFoto {
        width: 350px;
        height: 350px;
        background-color: white;
        @include dackgroundImg();
        position: relative;

        &::after {
          @include dackgroundSecond($backgroundImageColor)
        }
      }
    }

  }
}


