.progectsWrapper {
    color: #5b4c5c;
    display: inline-block;
    width: 100%;
    background: #f8f4f8;
}

.progects {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
}

.progectsBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.progectBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    background: #FFF;
    padding: 20px 36px 20px;;
    border-bottom: #e6e6e6 5px solid;
}

.progectBoxIcon {
    height: 300px;
    width: 300px;
    margin: 0px auto 30px;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.progectBoxIcon::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(238, 124, 123, 0.8);
    visibility: visible;
    /*transition-duration: 0.2s;*/
}

.progectBoxText {
    /*padding-top: 30px;*/
    text-align: center;


}

@media screen and (max-width: 625px) {
    .progectsBlock {
        justify-content: center;
    }
}



