@import "src/Styles/sass/variables";
@import "src/Styles/sass/mixins";

.progects {
  @include flex(column, center, center);

  .progectsBlock {
    width: 100%;
    @include flex(raw, space-between, start);
    @media screen and (max-width: 1100px) {
      @include flex(column, center, center);
    }

    .progectBox {

      width: 400px;
      background: $textColorHeaderFooter;
      padding: 20px 36px 20px;;
      border-bottom: #e6e6e6 5px solid;
      @include flex(column, center, center);
      @media screen and (max-width: 1100px) {
        margin-bottom: 40px;

      }
      @media screen and (max-width: 520px) {
        width: 100%;
        padding: 10px 0px 0px 0px;
      }

      .progectBoxIcon {
        height: 300px;
        width: 300px;
        margin: 0 auto 30px;
        position: relative;
        @include dackgroundImg();
        @include flex(raw, center, center);
        @media screen and (max-width: 520px) {
          width: 180px;
          height: 180px;
        }

        &::after {
          @include dackgroundSecond($backgroundImageColor)
        }
      }

      .progectBoxText {
        text-align: center;
        p{
          text-align: justify;
          padding: 10px;
        }
      }

      @media screen and (max-width: 625px) {
        justify-content: center;
      }
    }
  }
}
















