@import "src/Styles/sass/variables";
@import "src/Styles/sass/mixins";

.progects {
  @include flex(column, center, center);


  .progectsBlock {
    width: 100%;
    @include flex(raw, space-between, start);

    .progectBox {
      min-width: 400px;
      background: $textColorHeaderFooter;
      padding: 20px 36px 20px;;
      border-bottom: #e6e6e6 5px solid;
      @include flex(column, center, center);

      .progectBoxIcon {
        height: 300px;
        width: 300px;
        margin: 0 auto 30px;
        position: relative;
        @include dackgroundImg();
        @include flex(raw, center, center);

        &::after {
          @include dackgroundSecond($backgroundImageColor)
        }
      }

      .progectBoxText {
        text-align: center;
      }

      @media screen and (max-width: 625px) {
        justify-content: center;
      }
    }
  }
}
















